/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}
a{
    text-decoration: none;
}

.wrapper{
    min-width: 100%;
    display: grid;
    grid-template: minmax(100px, auto) 1fr minmax(70px, auto) / 1fr;
    grid-template-areas: 
    "header"
    "main";
}

.header {
    grid-area: header;
    padding: 15px;
    background-color: #77608d;
    display: grid;
    grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
    align-items: center;
}
.header_logo{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white;
    grid-column: 2/3;
}
.header_menu{
    grid-column: 3/4;
}
.header_list{
    display: grid;
    grid-auto-flow: column;
    justify-items: end;
}
.header_list li{
    font-size: 18px
}
.header_link{
    color: #fff;
}

.main{
    grid-area: main;
    padding: 30px 15px;
    display: grid;
    grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
}

.sidebar{
    grid-column: 2/3;
    background-color: #77608d;
    padding: 15px;
}
.sidebar_list li{
    margin: 0px 0px 15px 0px;
    font-size: 20px;
    text-align: center;
}

.gallery{
    grid-column: 3/4;
    padding: 0px 0px 0px 30px;
}
.gallery_items{
    display: grid;
    gap:10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.gallery_item{
    position: relative;
    padding: 0px 0px 100% 0px;
}
.gallery_item img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery_item-big {
    grid-column: span 2;
    grid-row: span 2;
    
}